body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: url('https://cdn2.vectorstock.com/i/1000x1000/90/61/tic-tac-toe-xo-game-seamless-pattern-black-board-vector-6779061.jpg');
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
 
.square {
  background: #fff;
  border: 2px solid black;
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 54px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  
}

.game-info {
  margin-top: 190px;
  margin-left: -161.5px;
  color: black;
  font-size: 28px;
  text-align: center;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
